<!DOCTYPE>
<html>
<head>
    <title></title>
<body>
<h1>登录.ftl</h1>
<form action="/loginFtl" method="post">
    <#if msg??>
        <h3>登录失败： ${msg} </h3><br>
    </#if>
    用户名：<input name="username" type="text"><br>
    密码： <input name="password" type="password"><br>
    <input type="submit" value="登录">

</form>
</body>
</html>